In [179]:
# load the pandas + numpy libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from pandas import Series,DataFrame
# load the Series and DataFrame functions

In [184]:
# read contents of a csv file that we build from GitHub into a Pandas DataFrame
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/'
                 'bridges/bridges.data.version1', header=None)
#Set columns name
df.columns=['IDENTIF','RIVER','LOCATION','ERECTED','PURPOSE','LENGTH','LANES','CLEAR-G','T-OR-D','MATERIAL','SPAN','REL-L','TYPE']

Task1

In [185]:
# use the size() function to tell us how many data values belong to each grouping
df1=pd.DataFrame(df.groupby(['RIVER','PURPOSE', 'MATERIAL']).size())
# give the '0' column a meaningful label
df1.rename(columns={0:'How Many?'}, inplace = True)
df1

                         How Many?
RIVER PURPOSE  MATERIAL
A     AQUEDUCT IRON              1
               WOOD              3
      HIGHWAY  ?                 1
               IRON              2
               STEEL            21
               WOOD              8
      RR       IRON              1
               STEEL             9
               WOOD              2
      WALK     STEEL             1
M     HIGHWAY  IRON              4
               STEEL            19
               WOOD              3
      RR       IRON              2
               STEEL            13
O     HIGHWAY  ?                 1
               IRON              1
               STEEL             9
      RR       STEEL             4
Y     HIGHWAY  STEEL             2
      RR       STEEL             1

Task2

In [186]:
#Set a'value fo '?' in "LENGTH" as NaN and change the value as numeric
df['LENGTH'][df['LENGTH']=='?'] = np.nan
df['LENGTH'] = df['LENGTH'].astype(float)
#applying the mean() function to the group
df2=pd.DataFrame(df.groupby([df['PURPOSE'],df['MATERIAL']])['LENGTH'].mean())
# give the 'LENGTH' column a meaningful label
df2.rename(columns={'LENGTH':'Average Length'}, inplace = True)
df2

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                   Average Length
PURPOSE  MATERIAL
AQUEDUCT IRON         1000.000000
         WOOD         1092.000000
HIGHWAY  ?                    NaN
         IRON         1216.666667
         STEEL        1557.804348
         WOOD         1053.375000
RR       IRON         1100.000000
         STEEL        1946.850000
         WOOD                 NaN
WALK     STEEL                NaN

In [ ]:
Task3

In [183]:
quartiles = pd.cut(df.ERECTED, 4)
# define a function that specifies the aggregating functions we want to apply
# to the length values contained within each of our data1 quartile cuts
def get_stats(group):
    return {'Average Length': group.mean(), 'Count': group.count(),
            'Max Length': group.max(), 'Min Length': group.min()}
# group the length column's values relative to the erected quartile cuts we made
grouped = df.LENGTH.groupby(quartiles)
# apply the get_stats function to the grouped length values
grouped.apply(get_stats).unstack()

                    Average Length  Count  Max Length  Min Length
ERECTED
(1817.832, 1860.0]     1094.625000    8.0      1500.0       990.0
(1860.0, 1902.0]       1603.347826   23.0      4558.0      1000.0
(1902.0, 1944.0]       1676.181818   33.0      3000.0       860.0
(1944.0, 1986.0]       1530.411765   17.0      3756.0       804.0